body::-webkit-scrollbar {
    display: none;
}

body {
    background:  url('background.jpg');
    background-size: cover;
    background-blend-mode: multiply ;
    min-height: 100vh;
    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.main_body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;


}
